# non-dot files
/[^.]*

# ZSH junk
/.zcompdump*
/.zsh-update

# macOS Junk
.DS_Store
.Trash

# Any history files
/.*history

# github config
/.gitconfig

# general junk
/.cache
/.CFUserTextEncoding
/.cups
/.bash_profile
/.bash_sessions
/.bundle
/.gem
/.lesshst
/.oracle_jre_usage
/.tmux
/.ssh
/.viminfo
/.subversion
/.rbenv
/*.rdb
/.oh-my-zsh
/.nvm
/.pow
/.hex
/.mix
/.npm
/.dropbox
/.aws
/.vagrant.d
/.vscode
/.yarnrc

!.nvm/install.sh
!Brewfile
!.zshrc
!.tmux.conf
