# non-dot files
/[^.]*

# ZSH junk
/.zcompdump*
/.zsh-update

# macOS Junk
.DS_Store
.Trash

# Any history files
/.*history

# github config
/.gitconfig

# general junk
/.android
/.aws
/.bash_profile
/.bash_sessions
/.bundle
/.cache
/.CFUserTextEncoding
/.chromedriver-helper
/.config
/.cups
/.docker
/.dropbox
/.electron*
/.gem
/.gnupg*
/.hex
/.jspm
/.lesshst
/.libui
/.local
/.ngrok2
/.oracle_jre_usage
/.thumbnails
/.tmux
/.serverless*
/.ssh
/.viminfo
/.subversion
/.rbenv
/*.rdb
/.oh-my-zsh
/.mix
/.ncmpcpp
/.netrc
/.node-gyp
/.npm
/.npmrc
/.nvm
/.pow
/.pyenv
/.vagrant.d
/.virtualenvs
/.vscode
/.wakatime*
/.yarnrc
/.zoomus

!.nvm/install.sh
!Brewfile
!.zshrc
!.tmux.conf
