# non-dot files
/[^.]*

# ZSH junk
/.zcompdump*
/.zsh-update

# macOS Junk
.DS_Store
.Trash

# Any history files
/.*history

# github config
/.gitconfig

# general junk
/.android
/.bash_profile
/.bash_sessions
/.bundle
/.cache
/.CFUserTextEncoding
/.config
/.cups
/.docker
/.electron*
/.gem
/.gnupg*
/.lesshst
/.libui
/.local
/.oracle_jre_usage
/.tmux
/.ssh
/.viminfo
/.subversion
/.rbenv
/*.rdb
/.oh-my-zsh
/.ncmpcpp
/.netrc
/.node-gyp
/.nvm
/.pow
/.hex
/.mix
/.npm
/.dropbox
/.aws
/.vagrant.d
/.virtualenvs
/.vscode
/.yarnrc

!.nvm/install.sh
!Brewfile
!.zshrc
!.tmux.conf
